body{
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    color: blue;
    color: rgb(121, 115, 115);
    border: 2px solid yellow;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#heading{
    font-size: 2.8rem;
}

#list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    width: 90%;
    align-items: center;
    
}

#contact{
    
    width: 35%;
    border: 2px solid blue;
    align-items: center;
}